<div id="<%= dom_id task %>">
  <p>
    <strong>Body:</strong>
    <%= task.body %>
  </p>

  <p>
    <strong>Poject:</strong>
    <%= task.poject_id %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= task.complete %>
  </p>

</div>
