
<% flash.each do |name, msg| %> 
  <div class="alert <%= name == "notice" ? "alert-success" : "alert-danger" %> alert-dismissible fade show" role="alert">
    <%= msg %> 
    <button type="button" id = "myAlert"  class="close float-right" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


