<h1>Editing payment notification</h1>

<%= render "form", payment_notification: @payment_notification %>

<br>

<div>
  <%= link_to "Show this payment notification", @payment_notification %> |
  <%= link_to "Back to payment notifications", payment_notifications_path %>
</div>
