<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
       Products
  </h1>

    
  <div>
  <%= link_to "New Product" ,new_admin_product_path ,class: "button"%>
  </div>
</header>




<section class="main-content__body main-content__body--flush">
  
<table aria-labelledby="page-title">
  <thead>
    <tr>
        <th class="cell-label
        cell-label--number
        cell-label--false
        cell-label--product_id" scope="col" role="columnheader" aria-sort="none">
        <a href="/admin/products?product%5Bdirection%5D=asc&amp;product%5Border%5D=id">
        Id
</a>        </th>
        <th class="cell-label
        cell-label--string
        cell-label--false
        cell-label--product_brand" scope="col" role="columnheader" aria-sort="none">
        <a href="/admin/products?product%5Bdirection%5D=asc&amp;product%5Border%5D=brand">
        Brand
</a>        </th>
        <th class="cell-label
        cell-label--string
        cell-label--false
        cell-label--product_model" scope="col" role="columnheader" aria-sort="none">
        <a href="/admin/products?product%5Bdirection%5D=asc&amp;product%5Border%5D=model">
        Model
</a>        </th>
        <th class="cell-label
        cell-label--string
        cell-label--false
        cell-label--product_description" scope="col" role="columnheader" aria-sort="none">
        <a href="/admin/products?product%5Bdirection%5D=asc&amp;product%5Border%5D=description">
        Description
</a>        </th>
        <th class="cell-label
        cell-label--string
        cell-label--false
        cell-label--product_finish" scope="col" role="columnheader" aria-sort="none">
        <a href="/admin/products?product%5Bdirection%5D=asc&amp;product%5Border%5D=finish">
        Finish
</a>        </th>
        <th class="cell-label
        cell-label--string
        cell-label--false
        cell-label--product_title" scope="col" role="columnheader" aria-sort="none">
        <a href="/admin/products?product%5Bdirection%5D=asc&amp;product%5Border%5D=title">
        Title
</a>        </th>

<th class="cell-label
cell-label--string
cell-label--false
cell-label--product_title" scope="col" role="columnheader" aria-sort="none">
<a href="/admin/products?product%5Bdirection%5D=asc&amp;product%5Border%5D=title">
Categories
</a>        </th>



        <th class="cell-label
        cell-label--number
        cell-label--false
        cell-label--product_price" scope="col" role="columnheader" aria-sort="none">
        <a href="/admin/products?product%5Bdirection%5D=asc&amp;product%5Border%5D=price">
        Price
</a>        </th>
        <th scope="col"></th>
  <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
  </tbody>
  </table>
  </section>

