<div>
<footer id="sticky-footer" class="fixed-bottom py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'My website', 'http://localhost:3000/articles' %></small>
  </div>
</footer>
</div>
