 
<% if notice %>
    <div class='alert alert-success'>
      <button type="button" id = "myAlert"  class="close float-right" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
		  <%= notice %>
	</div>
<% end %>

  <% if alert %>
    <div class='alert alert-danger'>
      <button type="button" id = "myAlert"  class="close float-right" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= alert %>
    </div>
  <% end %>
